body {
  text-align: center;
  background-color: #dee3e2;
  padding-top: 100px;
  font-family: 'Rubik', sans-serif;
}
h1 {
  font-size: 6rem;
}
h2 {
  margin: 30px;
}
.btn {
  margin: 5% 2% 0 2%;
  padding: 1rem 3rem;
  width: 300px;
}
.button-text {
  font-size: 2rem;
}
.dice {
  width:100px;
  margin-bottom: 20px;
}
