body {
  text-align: center;
  background-color: #dee3e2;
  padding: 8% 10% 5% 10%;
  font-family: 'Rubik', sans-serif;
}
h1 {
  font-size: 5rem;
}
@media (max-width: 600px){
  h1{
    font-size: 2.5rem;
    width: 240px;
    margin: 0 auto;
  }
}
h2 {
  font-size: 3rem;
  margin: 20px;
}
@media (max-width: 600px){
  h2{
    font-size: 1.5rem;
  }
}

.btn {
  margin: 5% 2% 0 2%;
  width: 260px;
}
@media (max-width: 600px){
  .top-btn{
    margin-top: 40px;
  }
}

.button-text {
  font-size: 2rem;
}
.dice {
  width:100px;
  margin-bottom: 20px;
}
